#contact_form {
    margin: auto;
    min-height: calc(100vh - 235px);
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(218, 209, 95);
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input, select, textarea {
    margin-bottom: 15px;
}

#fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fullname input {
    width: 48%;
}

textarea {
    resize: none;
    height: 150px;
}

.small {
    font-size: 0.7em;
    font-style: italic;
}

