main {
	height: 100%;
}

.japan-map{
	width:40%;
	transition: transform 1s ease;
	
}

.japan-map:hover{
	transform: scale(1.8) translateY(-100px);
}



#presentation-japon{
	display: flex;
	overflow: hidden;
}

#presentation-japon #blabla{
	padding: 2% 20% 2% 10%;
	text-align: justify;
	font-size: 1em;
}

#blabla{
	display:  flex;
	flex-direction: column;
	padding: 2% 10% 2% 10%;
	font-size: 1.2em;


}

#blabla p{
	margin: 5% 0% 5% 0%;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.2em;
}

#blabla h1{
	font-family: 'Stick No Bills', sans-serif;
	font-size: 2.2em;
	letter-spacing: 0.2em;
}
#selection-favorite-place{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 3% 7% 3% 15%;
	background-image: url(../images/japon-fleur.jpg);
	background-size: 100%;


}
#selection-favorite-place a{
	width: 100%;
	animation: flag 2s infinite ease-in-out
}

@keyframes flag {
    0%,100% {
      transform: translateX(0px);
    }
    
    50% {
      transform:translateX(70px);
    }
  }


#selection-favorite-place a:hover{
	filter: hue-rotate(30deg);
}
.tokyo-flag{
	width: 70px;
	height: 70px;
	border-radius: 100%;
}
#favorite-places{
	overflow-y: scroll;
  	scroll-behavior: smooth;
}
#around-tokyo{
	background-color: #C9BFFC;
	margin:0;
}
#kansai{
	background-color: #E3C4DB;
}
#around-hiroshima{
	background-color: #dcf695;
}

 .carousel-tokyo, .carousel-kansai, .carousel-hiroshima{
	background-color: rgb(24, 29, 29);
	padding:5% 2% 2% 2%;
 }
 .carousel-tokyo h1, .carousel-kansai h1, .carousel-hiroshima h1{
	color: #C9BFFC;
	text-align:center;
	font-family: 'Stick No Bills', sans-serif;
	letter-spacing: 0.2em;
	margin-top: 5% 0% 2% 0%;
	animation: titlesize  3s infinite linear;
 }

 @keyframes titlesize {
	from { font-size:1.2em; }
	50%  { font-size:1.6em; letter-spacing: 0.2em;} 
	to   { font-size:1.2em;}
  }
.img-caroussel{
	width:100%;
	padding:2%;
	border-radius:30px;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 600px;
    margin: 2% 3% 2% 3%;
	padding: 2% 2% 2% 2%;
    scroll-snap-align: start;
	border-radius: 30px;
	font-family: 'Nanum Gothic', sans-serif;
	text-align: justify;
}

.carousel-tokyo .carousel-item{
	background-color: #C9BFFC;
	
}
.carousel-kansai .carousel-item{
	background-color: #E3C4DB;
}
.carousel-hiroshima .carousel-item{
	background-color: #dcf695;
}

.carousel-item p{
	margin-top: 8px;
}
.carousel-item h2{
	text-align: center;
}
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 20px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #ca8d09;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: rgb(255, 196, 0);
}

