/* font-family: 'Bitter', serif;

font-family: 'Mulish', sans-serif;

font-family: 'Prata', serif; */

#mexico_page {
    background: linear-gradient(90deg, rgba(243,132,21,1) 0%, rgba(251,254,66,1) 100%);
}

#mexico_page #hero {
    width: 100%;
    background-image: url("../images/mexique_bandeau.jpg");
    background-size: cover;
}

@keyframes hero_apparition {
    0% {
      padding-bottom: 0%;
    }

    100% {
        padding-bottom: 30%;
    }
  }

#mexico_page #hero::after {
    content: '';
    display: block;
    padding-bottom: 30%;
    animation-name: hero_apparition;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

#mexico_page .slider {
    width: 1080px;
    text-align: center;
    margin: auto;
}

#mexico_page .slides {
    display: flex;
    overflow-x: hidden;
}

#mexico_page .slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 1080px;
    background-color: #ffffff70;
    text-align: justify;
    padding: 15px;
    padding-top: 50px;
}

#mexico_page nav {
    position: sticky;
    display: flex;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    top: 0px;
    background: linear-gradient(90deg, rgb(0, 101, 69) 0%, rgb(247, 247, 247) 50%, rgb(200, 16, 37) 100%);
}

#mexico_page nav > div {
    width: 22%;
    text-align: center;
}

#mexico_page nav > div a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    position: relative;
    transition: 500ms;
}

#mexico_page nav > div a:hover {
    
    font-size: 1.6em;
    color: red;
}

#mexico_page h1 {
    font-size: 2em;
    margin: 20px 0px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

#mexico_page p {
    margin: 10px 0px;
    font-family: 'Prata', serif;
}

#mexico_page h2 {
    font-size: 1.5em;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Bitter', serif;
    font-weight: 400;
    clear: both;
}

#mexico_page h3 {
    font-size: 1.2em;
    padding: 12px 0px;
    font-family: 'Mulish', sans-serif;
}

#mexico_page #gastronomie > h3 {
    clear: both;
}

#mexico_page #history > img {
    width: 50%;
}

#mexico_page #to_see > img, #gastronomie img {
    float: left;
    margin: 10px 20px 10px 0px;
    max-width: 45%;
}

#gastronomie #img_plats {
    max-width: 100%;
}


#mexico_page ul {
    padding-left: 20px;
}

#mexico_page ul li {
    text-align: justify;
    padding: 10px 0px;
    list-style-type: circle;
    clear: both;
}
