/*----------------------Le tout---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*----------------------Le header---------------------*/

.navigationList{
    width: 100%;
    display: flex;
    flex-direction:  row;
    height: 120px;
    background-color: #0F0701;
    justify-content: center;
    align-items: center;
}

ul li{
    width: 100%;
    text-align: center;
    justify-content: center;
    list-style-type: none;

}
.navigationList li a{

    color: #FAD494;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
ul.sousMenu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms;
    text-transform: capitalize;

}

li.menuDeroulant:hover > .sousMenu {
    max-height: 100px;
}

.navigationList li a:hover{
    color: #B97400;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1%;

}






/*----------------------Le body---------------------*/

/*----------------Background---------------*/

.main_wrapper {
  min-height: calc(100vh - 235px);
}

.bcg-homepage {
    background-image: url(../images/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------------Bloc texte---------------*/


.container {
    height: 300px;
    width: 350px;
    rotate: 1.7deg;
    margin-top: 480px;
    margin-left: 320px;
}

.texte-calepin h2 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

#p1 {
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

#p2 {
    margin-bottom: 30px;
    rotate: -5deg;
    padding-left: 35px;
    font-size: 25px;
    font-family: 'Marck Script', cursive;
}








/*----------------------Le footer---------------------*/
footer {
  background-color: #0F0701;
  height: 115px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  max-height: 100%;

}

footer ul img {
  max-width: 20%;
  max-height: 20%;
}

footer ul img:hover {
  max-width: 25%;
  max-height: 25%;
}

.FAD494 {
  color: #FAD494;
}

.FAD494:hover {
  color: #B97400;
  font-size: 2.5em;
}
